  <div class="arrange">
    <div id="intro" class="view">  </div>
    <div class="arrange"></div>
    <div id="showcase">
      <h1>Welcome To our Shop</h1>
    </div>
    <div id="content" class="container">
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque praesentium inventore illo repellat nam cumque voluptatum pariatur provident recusandae suscipit!    </div>
    <a href="/login" class="btn text-info  "> Log in </a>
  </div> <div class='box'> </div> 