

<form action="/login" method="POST">
<div class='bold-line'></div>
	<div class='containerLogin'>
	  <div class='window'>
		<div class='overlay'></div>
		<div class='content'>
		  <div class='welcome'>Hello There!</div>
		  <div class='subtitle'>To have full access to our services please log in </div>
		  <div class='input-fields'>
			
			<input name="email" type='email' placeholder='Email' class='input-line full-width'></input>
			<input name="password" type='password' placeholder='Password' class='input-line full-width'></input>
	
		  </div>
		  <div class='spacing'>or please  <a href="/signup" class='highlight'>create your account</a></div>
		  <div><button type="submit" class='ghost-round full-width'>Log In</button></div>
		</div>
	  </div>
	</div>
</form>



